html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    display: flex;
    min-height: 100vh;
}

main {
    flex: 2;
}

.container {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 78px;
}

.choose-joke h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}

.choose-joke p {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 43px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px; 
}

.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.input-container input:checked ~ .radiomark {
    border-color :#333333;
}

.radiomark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ABABAB;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-container input:checked ~ .radiomark:after {
    display: block;
}

.input-container .radiomark:after {
    top: 2px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #333333;
}

.inputs__buttons {
    margin: 20px 0px;
    display: none;
}

.inputs__buttons input {
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ABABAB;
    background-color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.inputs__buttons input:focus {
    background: #F8F8F8;
    color: #333333;
}

#input-text-search {
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
    display: none;
}

.input-get-joke,
#favourite__clear {
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 152px;
    cursor: pointer;
    margin: 20px 0 40px 0;
}

#render-joke,
#favourite-joke {
    max-width: 700px;
    min-height: 225px;
    background: #F8F8F8;
    border-radius: 20px;
    padding: 40px; 
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

#favourite-joke {
    background-color: #fff;
}

.render-joke__inner,
.favourite-joke__inner {
    display: flex;
}

.render-joke__icon,
.favourite-joke__icon {
    background: #fff;
    border-radius: 50%;
    height: 36px;
    max-width: 38px;
    min-width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.render-joke__id,
.favourite-joke__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    margin-bottom: 5px;
}

.render-joke__id a,
.favourite-joke__id a {
    margin-right: 5px;
}

.render-joke__id img,
.favourite-joke__id img {
    margin-left: 10px;
}

.render-joke__text,
.favourite-joke__text {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 26px;
}

.render-joke__update,
.favourite-joke__update {
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

.render-joke__update span,
.favourite-joke__update span {
    font-weight: 500;
}

.render-joke__category,
.favourite-joke__category {
    border-radius: 6px;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    background-color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 53px;
    right: 50px;
}

.render-joke__favourite {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.favourite {
    background-color: #F8F8F8;
    flex: 1;
}

.favourite__inner {
    padding: 10px;
}

.favourite h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

#favourite__clear {
    background: #99a09f;
    padding: 10px 40px;
    margin: 0;
}

.favourite--mobile {
    display: none;
}

.blackout {
    background: rgba(0 0 0 / 30%);
}

@media (max-width: 1350px) {
    .favourite {
        flex: 2;
    }
}

@media (max-width: 834px) {
    .favourite {
        display: none;
        position: absolute;
        right: 0;
        height: 100vh;
        width: 60vw;
    }

    .favourite h2 {
        display: none;
    }

    .favourite--mobile {
        display: flex; 
        width: 118px;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        margin-right: 25px;
        position: absolute;
        right: 0;
    }

    .favourite--mobile h2{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #ABABAB;
        z-index: 2;
    }

    #mobile-btn {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #333333;
        position: relative;
        cursor: pointer;
    }

    #mobile-btn span {
        background-color: #fff;
        position: absolute;
        width: 14px;
        height: 2px;
        border-radius: 2px;
        top: 10px;
        left: 7px;
    }

    #mobile-btn span + span {
        top: 16px;
    }

    #mobile-btn.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
        left: 7px;
    }

    #mobile-btn.open span:nth-child(2) {
        transform: rotate(-45deg);
        top: 13px;
        left: 7px;
    }

    #render-joke {
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    .favourite {
        width: 72vw;
    }

    #render-joke {
        padding: 25px;
    }

    .render-joke__favourite {
        top: 30px;
        right: 30px;
    }
}

@media (max-width: 500px) {
    .favourite {
        width: 100vw;
    }

    .render-joke__footer {
        flex-direction: column;
        max-width: 129px;
        min-height: 49px;
    }
}

@media (max-width: 380px) {
    .render-joke__favourite {
        top: 20px;
        right: 20px;
    }
}
