:root {
    --dark: #333333;
    --grey: #f8f8f8;
    --light-grey: #ababab;
    --blue: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    --light: #ffffff;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    display: flex;
    min-height: 100vh;
    font-size: 10px;
}

.main {
    flex: 2;
}

input:focus {
    outline: none;
}

.container {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 20px;
}

.header h1 {
    margin-bottom: 78px;
    font-size: 2.5rem;
}

.find-joke h2 {
    font-size: 2rem;
}

.find-joke p {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 43px;
}

.find-joke__form {
    display: flex;
    flex-direction: column;
}

.input-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.input-label input,
.category-buttons input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radiomark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--light);
    border-radius: 50%;
    border: 2px solid var(--light-grey);
}

.input-label input:checked ~ .radiomark {
    border-color: var(--dark);
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-label input:checked ~ .radiomark:after {
    display: block;
}

.input-label .radiomark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--dark);
}

.category-buttons {
    margin: 10px 0 25px 0;
    display: none;
}

.category-btn {
    border: 2px solid var(--grey);
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light-grey);
    background-color: var(--light);
    padding: 6px 15px;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.category-buttons input:checked ~ span {
    background-color: var(--dark);
    color: var(--light);
    border: var(--light);
}

.input-text-search {
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--dark);
    display: none;
}

.find-joke__form-inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    align-items: center;
}

.btn {
    background: var(--blue);
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    color: var(--light);
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 152px;
    cursor: pointer;
    outline: none;
}

.btn:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.joke-card {
    min-width: 350px;
    max-width: 700px;
    min-height: 225px;
    border-radius: 20px;
    padding: 40px; 
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.jokes-container 
.joke-card {
    background-color: var(--grey);
}

.jokes-container 
.joke-card__img {
    background-color: var(--light);
}

.favourite-container 
.joke-card {
    background-color: var(--light);
}

.favourite-container 
.joke-card__img {
    background-color: var(--grey);
}

.favourite-container 
.joke-card__category {
    background-color: var(--grey);
}

.joke-card__inner {
    display: flex;
}

.joke-card__img {
    border-radius: 50%;
    max-height: 36px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.joke-card__id {
    font-weight: 500;
    color: var(--light-grey);
    margin-bottom: 15px;
}

.joke-card__id img {
    margin-left: 10px;
}

.joke-card__text {
    margin-bottom: 28px;
    font-size: 1.2rem;
}

.joke-card__update {
    color: var(--light-grey);
}

.joke-card__update span {
    font-weight: 500;
}

.joke-card__category {
    border-radius: 6px;
    padding: 6px 20px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: var(--light);
    text-transform: uppercase;
    position: absolute;
    bottom: 49px;
    right: 50px;
}

.joke-card__favourite {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.random-joke-icon {
    background: url(../img/fav-1.svg) no-repeat;
}

.fav-joke-icon {
    background: url(../img/fav-2.svg) no-repeat;
}

.favourite {
    background-color: var(--grey);
    flex: 1;
    width: 650px;
}

.favourite__header {
    padding: 40px;
}

.favourite h2 {
    font-weight: 500;
    font-size: 20px;
    color: var(--light-grey);
}

.favourite-container {
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
}

.clear-btn {
    background: #99a09f;
    padding: 10px 40px;
    margin: 0;
}

.favourite--mobile {
    display: none;
}

.show {
    display: flex;
}

@media (max-width: 1350px) {
    .favourite {
        width: 500px;
    }
}

@media (max-width: 1100px) {
    .category-buttons {
        flex-wrap: wrap;
    }

    .category-buttons label {
        margin-bottom: 20px;
    }

    .joke-card {
        padding: 10px;
    }

    .joke-card__category {
        bottom: 30px;
    }

    .btn {
        padding: 10px 22px;
        max-width: 137px;
    }

    .favourite {
        width: 450px;
    }
}

@media (max-width: 950px) {
    .joke-card__favourite {
        top: 25px;
        right: 25px;
    }

    .favourite {
        width: 400px;
    }
}

@media (max-width: 834px) {
    .header h1 {
        margin: 50px 0 0 0;
    }

    .favourite {
        position: absolute;
        right: 0;
        width: 60vw;
    }

    .favourite-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .show {
        display: flex;
    }

    .favourite--mobile {
        display: flex; 
        width: 118px;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        position: absolute;
        right: 0;
    }

    .favourite--mobile h2{
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 28px;
        color: var(--light-grey);
        z-index: 2;
    }

    .mobile-btn {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #333333;
        position: relative;
        cursor: pointer;
    }

    .mobile-btn span {
        background-color: var(--light);
        position: absolute;
        width: 14px;
        height: 2px;
        border-radius: 2px;
        top: 10px;
        left: 7px;
    }

    .mobile-btn span + span {
        top: 16px;
    }

    .mobile-btn.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
        left: 7px;
    }

    .mobile-btn.open span:nth-child(2) {
        transform: rotate(-45deg);
        top: 13px;
        left: 7px;
    }

    .joke-card {
        margin-top: 10px;
    }

    .joke-card__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .favourite {
        width: 72vw;
    }
}

@media (max-width: 500px) {
    .favourite {
        width: 100vw;
    }

    .joke-card__footer {
        flex-direction: column;
        max-width: 129px;
        min-height: 49px;
    }

    .joke-card__img {
        display: none;
    }

    .joke-card {
        padding: 20px 20px 0 20px;
        min-height: 180px;
    }
}

@media (max-width: 410px) {
    .joke-card {
        min-width: 300px;
    }
}

@media (max-width: 380px) {
    .joke-card__favourite {
        top: 20px;
        right: 20px;
    }

    .joke-card__id img {
        margin-left: 5px;
    }

    .joke-card__icon {
        margin-right: 9px;
    }

    .joke-card {
        min-width: 250px;
    }
}
